@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6 {
        position: relative;
        opacity: 0.65;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .bgimg-1 {
        background-image: url("../../Content/images/truck2.jpg");
        min-height: 400px;
    }

    .bgimg-2 {
        background-image: url("../../Content/images/truck2_khaira_freight.png");
        min-height: 400px;
    }

    .bgimg-3 {
        background-image: url("../../Content/images/apply_truck_driver.png");
        min-height: 400px;
    }

    .bgimg-4 {
        background-image: url("../../Content/images/trolley_khaira_freight.png");
        min-height: 400px;
    }

    .bgimg-5 {
        background-image: url("../../Content/images/trolley2_khaira_freight.png");
        min-height: 400px;
    }

    .bgimg-6 {
        background-image: url("../../Content/images/trolley3_khaira_freight.png");
        min-height: 400px;
    }

    .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
    }


        .caption span.border {
            color: black;
            padding: 18px;
            font-size: 25px;
            letter-spacing: 10px;
            font-weight: bold;
        }

    h3 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font: 20px "Lato", sans-serif;
        color: #111;
    }
</style>
<body>
    <div class="bgimg-1">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
                WELCOME TO KHAIRA FREIGHT
            </span>
        </div>
    </div>
    <div style="color: #777;background-color:white;text-align:center;text-align: justify;">

        <div style="position:relative;">
            <div style="color: #10355f;
        background-color: white;
        font-size:38px;
        font-weight:bolder;
        text-align: center;
        padding: 50px 80px;
        text-align: center;">
                <p>
                    For All Your Transportation Needs <br />
                    Fast, Dependable and Affordable <br />
                    Hauling Made Simpler!<br />
                </p>
            </div>
        </div>
    </div>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">
                WE CARE AT KHAIRA FREIGHT!
            </span>
        </div>
    </div>
    <div style="color: #777;background-color:white;text-align:center;text-align: justify;">

        <div style="position:relative;">
            <div style="color: #10355f;
        background-color: white;
        font-size:20px;
        text-align: center;
        padding: 50px 80px;
        text-align: center;">
                <h2 style="font-weight:bolder">We Haul All Types of Freight</h2>

                <p>
                    We haul many different types of freight including produce, consumable goods, insulation, steel, aluminum, bricks,
                    stone, metal beams, and metal coils.  Our promise is to ensure your freight arrives in a Safe and Timely manner.
                    New equipment allowing us to haul various types of goods; Dryvans, Reefers, Flatbeds, Rolltite Stepdeck.
                </p>
            </div>
        </div>
    </div>
    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;"></span>
        </div>
    </div>
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-4 border-0">
                <div class="thumbnail" style="border-color:white">
                    <img src="~/Content/images/clock.jpg" alt="Lights" width="120">
                    <div>
                        <h2 style="text-align:center">On Time. All the Time.</h2>
                        <p>
                            If we say it'll get there by a certain date, rest assured your load will arrive
                            as expected without any surprise. We use the latest communication technology
                            to reliably provide up-to-the-minute updates as your shipment safely reaches the final
                            destination.

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 border-0">
                <div class="thumbnail" style="border-color:white">
                    <img src="~/Content/images/safety.png" width="80">
                    <div>
                        <h2 style="text-align:center">Safety of Equipment and Load Securement</h2>
                        <p>
                            We offer a variety of 53 trailers including Dry Vans, Reefers and Flat Beds.
                            <br />
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail" style="border-color:white">
                    <img src="~/Content/images/glo.png" alt="Fjords" width="80">
                    <div>
                        <h2 style="text-align:center">Our entire Fleet is equipped with</h2>
                        <p>
                            ELD's, Dashcams, and GPS Tracking are utilized allowing our
                            drivers to manage and maintain their equipment. Ensures operating
                            costs are reduced whilst ensuring our clients freight is protected.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bgimg-4">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SAFETY FIRST</span>
        </div>
    </div>
    <div style="color: #10355f;
        background-color: white;
        font-size:20px;
        text-align: center;
        padding: 50px 80px;">
        <h3>RELIABLITY AND INTEGRITY</h3>
    </div>
    <div class="bgimg-5">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">HAULING MADE SIMPLER </span>
        </div>
    </div>
    <div style="color: #10355f;
        background-color: white;
        font-size:20px;
        text-align: center;
        padding: 50px 80px;">
        <h3>A CAREER YOU CAN COUNT ON </h3>
    </div>
    <div class="bgimg-6">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">DRYVAN AND REEFER<br />FLAT BED VISION</span>
        </div>
    </div>


    <div style="position:relative;">
        <div style="color: #10355f;
        background-color: white;
        font-size:20px;
        text-align: center;
        padding: 50px 80px;">
            <h2 style="font-weight:bolder">
                LTL and Full Load Service<br />
                REEFERS - DRY VANS - FLATBEDS
            </h2>
            <p>
                When you entrust your freight to us, you can be sure that we’ll take care of every last detail.
                Whether you require FLT or LTL service we work with you to ensure your freight gets to you in a Timely fashion.
                Servicing Ontario, Canada Wide and USA our Team works diligently to keep our Trucks moving.
            </p>
        </div>
    </div>

</body>

