


@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/DispatchLayout.cshtml";
}
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 36px;
        margin: 4px 2px;
        cursor: pointer;
    }

        .button:hover {
            background-color: lightblue;
        }

    .button1 {
        margin-left: 100px;
    }

    .button2 {
        margin-left: 400px;
    }

    .button3 {
        margin-top: 80px;
        margin-left: 450px;
    }

    

    .image {
        margin-left: 200px;
    }
</style>


@*<div class="form-horizontal  breadcrumb" style="        background-color:lavender;
        padding: 30px;
        margin: 50px auto;
        box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
        border-radius: 10px;
        border: 6px solid #305A72;
        min-width:min-content;
        " id="dispatch">

    <h2> Welcome Dispatcher</h2>
    <p>Here you can add the planner and view it in the Weekly calender</p>

    <button class="button button1" onclick="window.location.href='/Dispatch/Index'"> Truck Details</button>
    <button class=" button button2" onclick="window.location.href='/Dispatch/Calender'"> Calender</button>
    <button class=" button button3" onclick="window.location.href='/Dispatch/PlannerList'"> Planner</button>
</div>*@


