
@{
    ViewBag.Title = "Admin";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    <div id="main">
        <h2>test</h2>
        <a href="@Url.Action("DriverApplication", "Admin")" target="_blank">View Completed Form</a>
    </div>
</body>
</html>


